<h3>HIJO COUNT</h3>
<div class="row justify-content-lg-center">
    <div class="col-lg-3">

        <input type="radio" 
        (change)="itemRadioSelected()" 
        [(ngModel)]="selectedItem"
        name="selectedItem"
        value="M"
         >Masculino: {{countUserMale}}

    </div>
    <div class="col-lg-3">
        <input type="radio"
        (change)="itemRadioSelected()" 
        [(ngModel)]="selectedItem"
        name="selectedItem"
        value="F"
          >Femenino: {{countUserFemale}}

    </div>
    <div class="col-lg-3">
        <input type="radio"
        (change)="itemRadioSelected()" 
        [(ngModel)]="selectedItem"
        name="selectedItem"
        value="T"
          >
            Total: {{ countUserMale + countUserFemale }}

    </div>
</div>

<!-- button type="button" (click)="itemRadioSelected()" >Enviar</button -->
<hr>