<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text"
                          class="form-control" id="username" formControlName="username"  name="email"  aria-describedby="helpId" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password"
                          class="form-control" name="email" id="password" aria-describedby="helpId" placeholder="">
                      </div>
                      <button type="submit" class="btn btn-success btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>