<div class="container">
    <h1>Create Bike</h1>
    <form [formGroup]="bikeFormGroup" novalidate (ngSubmit)="saveBike()" >
        
        
        <div>
            <label for="">Estado</label>
            <p-inputSwitch (onChange)="changeStatus($event)" formControlName="status"></p-inputSwitch>
            <br>
            <label for="">Model</label>
            <input formControlName="model" type="text" name="model" >
            <div  *ngIf="bikeFormGroup.get('model').invalid 
            && (bikeFormGroup.get('model').dirty || bikeFormGroup.get('model').touched )
            " >
            <div *ngIf="bikeFormGroup.get('model').errors.required">
                <p class="validations">Este campo es requerido</p>
            </div>
            <div *ngIf="bikeFormGroup.get('model').errors.minlength" >
                <p class="validations">Este campo debe contener mínimo 2 caracteres</p>
            </div>
            <div *ngIf="bikeFormGroup.get('model').errors.maxlength">
                <p class="validations">Este campo debe contener como máximo 5 caracteres</p>
            </div>
            
            
        </div>
    </div>
    <div>
        <label for="">Price</label>
        <input formControlName="price" type="text" name="price" >
    </div>
    <div>
        <label for="">Serial</label>
        <input formControlName="serial" type="text" name="serial" >
    </div>
    
    <button type="submit" [disabled]="bikeFormGroup.invalid" >Guardar</button>
    
</form>
</div>