
<div class="container">

    <app-count-user 
    [countUserMale]="sendCountMale()" 
    [countUserFemale]="sendCountFemale()" 
    (typeOptionEvent)="getDataChild($event)"></app-count-user>

    <hr>
    prueba: {{getSelectedType}}
    <h3>Listar</h3>
    <div class="row">
       <div class="col-lg-12">
           <table class="table table-hover table-inverse table-responsive">
               <thead class="thead-inverse">
                   <tr>
                    <th>Nombres</th>
                    <th>Edad</th>
                    <th>Genero</th>
                    <th>Dependencia</th>
                   </tr>
                   </thead>
                   <tbody>
                       <ng-container *ngFor="let item of listUsers">
                            <tr *ngIf="getSelectedType === 'T' || item.genero === getSelectedType">
                                <td>{{item.nombres}}</td>
                                <td>{{item.edad}}</td>
                                <td>{{item.genero}}</td>
                                <td>{{item.dependencia}}</td>
                            </tr>
                        </ng-container>
                      
                   </tbody>
           </table>
       </div>
    </div>
</div>

